/*my CSS file for the Bootstrap project*/

body {
	padding-bottom: 80px;
}

#headerColor{
	color:blue;
    font-family: 'Gloria Hallelujah', cursive;
}

/*about.html*/
.page-header {
    margin-top: 0;
}
.page-body {
    padding-top; 0;
}
.featureImg{
    padding-bottom: 30px;
}